html {
  scroll-behavior: smooth;
  height: 100%;
}

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "FuturaPT" , "Arial" , sans-serif;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 168px;
  background-color: #E5E5E5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

main {
  flex-grow: 1;
}