.coorse {
    padding: 235px 0 216px;
    background-image:url("../../images/kisspng-dog.png") , url("../../images/Mask.jpg");
    background-repeat: no-repeat;
    background-size: 613px 481px, 100%;
    background-position-y: calc(50% + 20px), calc(50% + 32px);
    background-position-x: calc(50% + 382px) , 0;
}

.coorse__inner {
    padding: 90px 0 88px;
    margin-left: 240px;
}

.coorse__title {
    display: inline-block;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.coorse__form {
    display: flex;
    align-items: center;
}

.coorse__input {
    width: 335px;
  padding: 18px 0 13px 22px;
  margin-right: 21px;
  background-color: #FFFFFF;
  border: 2px solid transparent;
    border-radius: 5px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
  }
  &:focus {
    outline-color: #FFBD54;
  }

}

.coorse__button {
    padding: 15px 53px 14px 51px;
    border: 0;
    background: #333333;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}



